

.card-row {
    display: flex;
    flex-direction: row;

}

.historyItems {
    margin-top: 20px;
}

li:first-child {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 6px 6px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

li {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

li:last-child {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 0px 0px 6px 6px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

.five-day-card {
    margin-left: 20px;
    width: 140px;
    height: 190px;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    background-color: #006fb9;
}


.five-day-container .card-text {
    margin-bottom: 10px;
    padding: 0px 30px 0px 10px;
}

.five-day-card h3 {
    margin: 5px;
    font-size: 15px;
}

.five-day-card p {
   
    font-size: 16px;
}

.five-day-card img {
    margin-left: 10%;
}

